header {
    background: #808080;
    padding: 10px 0;
}
.caixaCabecalho {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 90px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    font-family: Verdana;
    margin-right: 25px;
}

nav a:hover {
    color: #D2691E;
    text-decoration: underline;
}

.imagemHome {
    margin-bottom: 0;
    width: 100%;
}

footer {
    text-align: center;
    padding: 5px 0 0;
}

.imagemCopyright {
    width: 100px;
    padding: auto;
}

.copyright {
    color: #696969;
    font-size: 13px;
    margin: 0;
    text-align: center;
    font-family: Arial;
}